/*********************************
FONTS
*********************************/
$main-font: 'Source Sans Pro', sans-serif;
$andes-font: 'AndesBlack';
$andes-semibold: 'AndesSemiBold';

$font-light: 'Source Sans Pro', sans-serif;
$font-weight-light: 300;
$font-regular: 'Source Sans Pro', sans-serif;
$font-weight-regular: 400;
$font-semibold: 'Source Sans Pro', sans-serif;
$font-weight-semibold: 600;
$font-bold: 'Source Sans Pro', sans-serif;
$font-weight-bold: 700;
$font-black: 'Source Sans Pro', sans-serif;
$font-weight-black: 900;

/*********************************
COLORS
*********************************/
$main-text-color: #1a1a1a;
$main-active-color: #000;